@import url(bootstrap.min.css);
@import url(font-awesome.min.css);


html,body{
	height: 100%;
	width: 100%;
	font-family: Roboto, sans-sarif;
	background-color:#212529 ;
	color: #FFF;
}
body::before{
	display: block;
	content: '';
	height: 60px;
}

/*text & Button*/

	.btn-primary
	{
		background-color:#212529;
		width: 120px;
		height: 40px;
		text-transform: uppercase;
		border: 1px solid #FFF;
		border-radius: 50px;
		font-size: 1rem;
		font-weight: bold;
		align-items: center;
		margin: auto;
	}
	.btn-primary a{
		text-decoration: none;
		color: #FFFFFF;
	}
	.btn-primary:hover{
		background-color: #FEBC39  !important;
		color: #FFF;
		border-color: #fff;
	}
	.progress{
		padding-left: 0px;
	}
	hr{
		width: 30%;
		height: 30px;
		margin: 0 0 5px 0;
		background: #FFF;
	}

/***Navbar***/
	.navbar-brand{
		font-size: 2rem;
		font-weight: bolder;
	}
 	.navbar-dark .navbar-nav .nav-link {	
 	    color: #FFF;
	    margin-right: 1rem;
	    text-transform: uppercase;
	    text-align: center;
	}
	.navbar-dark .navbar-nav .nav-link:hover{
	    color: #FEBC39;
	    font-weight: bold;
	}
	.navbar-dark .navbar-nav .nav-link:active{
	    color: #FEBC39;
	}
	.navbar-toggler { 
		color: #212529 !important;
		border-color: #212529 !important; 
	}
	.navbar-dark .menu-btn-2 {
		position: absolute;
		z-index: 3;
		right: 15px;
		top: 18px;
	}
	.navbar-dark .btn-line{
		width: 30px;
		height: 3px;
		margin: 0 0 5px 0;
		background: #FEBC39;
	}
	.list-group-item {
	    background-color:#212529 ;
		color: #FFF;
		border-color:#FEBC39;
	}
	.list-group-item a{
		text-decoration: none;
	}
	.fa-facebook,
	.fa-twitter,
	.fa-linkedin{
		color: blue;
		background-color: #fff;
		border: 1px solid #FFF;
		border-radius: 50px;
		width: 40px;
		padding: 10px;
	}
	.social a{
		align-items: center;
		text-decoration: none;
		padding: 5px;
	}

	



/*---Media Queries--*/
@media (max-width: 767px){
	
	.navbar-dark .menu-btn-2  
		{
		position: absolute;
		z-index: 3;
		right: 6px;
		top: 18px;
		}
	.navbar-dark .btn-line 
		{
		width: 30px;
		height: 3px;
		margin: 0 0 5px 0;
		background: #FEBC39;
		}
	.navbar-dark .navbar-nav .nav-link:hover{
	    color: #FFF;
	    border-bottom:none;
	}
	.lead {
	    font-size: 1rem;
	    font-weight: 300;
	}
}
@media (max-width: 576px){

}
@media (max-width: 276px){

	


}
